h1 {
    background: teal;
    color: lightcoral;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Crete Round', serif;
}

.fa-plus {
    float: right;
    color: lightcoral;
}

input:focus {
    background: rgb(230, 220, 220);
    border: turquoise;
    outline: tan;
}

body {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input {
    font-size: 18px;
    color: lightcoral;
    background: rgb(221, 215, 215);
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box; 
}

li {
    background: lightslategrey;
    height: 40px;
    line-height: 40px;
    color: lightcoral;
}

li:nth-child(2n) {
    background: rgb(100, 155, 155);
}


#container {
    background: lightgreen;
    width: 360px;
    margin: 100px auto;
    border: 2px solid grey;
    box-shadow: #2980b9;
}

.completed {
    color: rgb(199, 174, 174);
    text-decoration: line-through;
}



