h1 {
    background: teal;
    color: rgb(170, 49, 49);
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    background: grey;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

body {
    font-family: 'Crete Round', serif;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

.fa-plus {
    float: right;
    color: rgb(199, 42, 42);
}

input:focus {
    background: rgb(230, 220, 220);
    border: turquoise;
    outline: tan;
    border: 3px solid rgba(0,0,0,0);
}

body {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input {
    font-size: 18px;
    color: rgb(175, 54, 54);
    background: rgb(221, 215, 215);
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box; 
}

li {
    background: lightslategrey;
    height: 40px;
    line-height: 40px;
    color: rgb(189, 50, 50);
}

li:nth-child(2n) {
    background: rgb(100, 155, 155);
}


#container {
    background: lightgreen;
    width: 360px;
    margin: 100px auto;
    border: 2px solid grey;
    box-shadow: #2980b9;
}

.completed {
    color: rgb(199, 174, 174);
    text-decoration: line-through;
}



